<%= form.fields_for :tags do |f| %>
  <div class="control-group">
    <%= f.label :name, 'Tag:' , :class => "control-label"%>
    <%= f.text_field :name, :class => "input-xlarge" %>
  </div>
  <% unless f.object.nil? || f.object.new_record? %>
	<div class="control-group">
      <%= f.check_box :_destroy, :class => "checkbox"  %>
      <%= f.label :_destroy, 'Remove Tag', :class => "control-label" %>
    </div>
  <% end %>
<% end %>