<div class="span4">
    <div class="media">
        <%= image_tag post.video.url(:medium), :class => "pull-left img-polaroid" %>
        <div class="media-body">
            <h5 class="media-heading"><%=post.title%></h5>
            <p>
                <%=condense_content(post)%><br/>
                <%=duration_to_s(post)%><br/>
                <%= link_to "View &raquo;".html_safe, post %>
            </p>
        </div>
    </div>
</div><!--/span-->
